body{
    border: 1px solid;
    padding: 5px;
    font-family: Arial;
}
.html{
    color:yellowgreen;
    text-decoration: underline;
}
h2{color: green}
ul{color: cornflowerblue}
#id1{color:orange}
#id2{color:orange; text-decoration: underline}